/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
	box-sizing: border-box;
	font-size: 62.5%;
	display:inline-block;
}

header img {
	border-radius: 50%;
	max-width: 24%;

}

img {
	border-radius: 10px;
	object-fit: scale-down;
}
header {
	text-align: center;
}

header p{
	width: 80%;
	font-size: 1.2rem;
}

p.narrow {
	width: 50%;
}
h1 {
	font-family: Chelsea Market ;
	font-size: 2.4rem;
	display: block;
	margin: 3%;
}
.container{
	margin: 0 auto;
	width: 90%;
}

.content-row {
	display: flex;
	padding: 3%;
	margin:
  }
  
  .content-row div {
	/*======= create a margin propery.  Set the value to 20px */
	margin: 20px;
  }

.container nav a {
	margin: 0 7%;
	border: 1px solid lightgray;
	padding: 1% 3%;
	display: inline-block;
	border-radius: 20px;
	color: white;
	text-decoration: none;
	
  }
nav  {
	margin: 0 auto;
    height: 5rem;
	padding: 1%;
}
nav a.plan{
    background-color: #FF764E;
	float: left;
}

nav a.learn {
    background-color: #5ED3EB;
}

nav a.getInvolved {
    background-color: #FFCD69;
	float: right;
}